.box{
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px gray;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    width: 200px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}